@import "bourbon";
*, *:before, *:after {
    box-sizing: border-box;
}
@include keyframes(scrollBad) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.header_bg{
background-color: #E83428;
background-image: url(http://scarbroughstudios.com/img/codepen.svg);
background-position: center center;
background-size: 500px;  
@include animation(scrollBad 5s linear infinite);
    width: 100%;
    height: 130vh; 
}